body {
    background-color: #d0c9c2;
}
header{
    background-color: #36342c;
    color:#d0c9c2 ;
}
header>nav> a {
    text-decoration: none;
    color: #c6915d;
}
#address-section > section{
float: left;
width: 20%;
background-color: #c6915d;
font-family: 'Open Sans', sans-serif;
}
footer{
    background-color: #bc543b;
}